body {
    font-family: Arial, sans-serif;
    background-color: #f4f6ff;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #5a4fcf;
}
input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: #5a4fcf;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #483dbd;
}
.dashboard {
    margin-top: 40px;
}

.dashboard button {
    margin: 10px;
}
.trip-card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #ffffff;
}
.itinerary {
    width: 80%;
    margin: auto;
}

.day {
    border-left: 4px solid #5a4fcf;
    padding: 10px;
    margin: 15px 0;
    background-color: #f9f9ff;
}

