body {
    font-family: Arial, sans-serif;
    background-color: #f4f6ff;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #5a4fcf;
}
input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: #5a4fcf;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #483dbd;
}
